<!DOCTYPE html>
<html lang="fr" moznomarginboxes mozdisallowselectionprint>
<head>
    <meta charset="utf-8">
    <title>Récapitulatif P.I.A.</title>
    <link rel="stylesheet" href="{{ asset('bundles/formalibrebulletin/css/bootstrap.css')}}"/>
    <link rel="stylesheet" href="{{ asset('bundles/formalibrebulletin/css/bulletin.css')}}"/>
    <link rel="stylesheet" href="{{ asset('bundles/formalibrepia/css/piaFiche.css')}}"/>
    <script type="text/javascript" src='{{ asset('bundles/frontend/jquery/jquery-2.1.0.min.js') }}'></script>
    <script type="text/javascript" src='{{ asset('bundles/formalibrebulletin/js/bootstrap.js') }}'></script>
</head>

<body>
    <div class="container" id="content">
        <div class="row">
            <div class="col-xs-3">
                <img src="http://www.fransfischer.be/logoFFnb.png" height="100px">
            </div>
            <div class="col-xs-6" id="title-box">
                <h2>Récapitulatif P.I.A.</h2>
            </div>
            <div class="col-xs-3" id="NomEleve">
                2014-2015<br>
                {{ user.getLastName() }}<br>
                {{ user.getFirstName() }}
            </div>
        </div>
        <div class="row">
            {{ render(controller('FormaLibreBulletinBundle:Bulletin:printableBulletinWidget', { 'user': user.getId() } )) }}
        </div>
        <div class="row">
            {{ render(controller('FormaLibreBulletinBundle:Bulletin:printableBulletinPointsDiversWidget', { 'user': user.getId() } )) }}
        </div>
        <h3 class="text-center">Conseil</h3>
        <hr style="border-color: #a3a3a3; width: 80%">
        <hr style="border-color: #a3a3a3; width: 80%">
        <hr style="border-color: #a3a3a3; width: 80%">
        <hr style="border-color: #a3a3a3; width: 80%">
        <hr style="border-color: #a3a3a3; width: 80%">
        <hr style="border-color: #a3a3a3; width: 80%">
        <hr style="border-color: #a3a3a3; width: 80%">
        <hr style="border-color: #a3a3a3; width: 80%">
        <hr style="border-color: #a3a3a3; width: 80%">
    </div>
</body>
</html>