<div class="panel-heading">
    <div class="row">
        <div class="col-xs-11">    <h1>Plan individuel de remediation</h1></div>
        <div class="col-xs-1"><i class="fa fa-plus-circle click addTache" data-user-id="{{ user.getId() }}"></i></div>
    </div>

</div>
<div class="panel-body">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Action</th>
            <th>Responsable</th>
            <th>Commentaire</th>
            <th>Suivi</th>
        </tr>
        </thead>
        {% for tache in taches %}
            {% if tache.fini == true %}
                <tr class="success">
            {% else %}
                <tr class="warning">
            {% endif %}
                <td>{% if tache.getAction() is not empty %}{{ tache.action.getName() }} - {% endif %}{{ tache.titre }}</td>
                <td>{% if tache.getResponsable() is not empty %}{{ tache.responsable.getLastName() }}{% endif %}</td>
                <td>{{ tache.commentaire|raw }}</td>
                <td>
                    <i class="fa fa-search click viewSuivi" data-tache-id="{{ tache.getId() }}"></i>
                    <i class="fa fa-edit click editTache" data-tache-id="{{ tache.getId() }}"></i>
                    <i class="fa fa-close click closeTache" data-tache-id="{{ tache.getId() }}"></i>
                    <!--<i class="fa fa-trash click deleteTache" data-tache-id="{{ tache.getId() }}"></i>-->
                </td>
            </tr>
        {% endfor %}

    </table>
</div>